<h1 mat-dialog-title>Confirmar</h1>
<div mat-dialog-content>¿Está seguro de que desea cambiar el estado?</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onConfirm()" cdkFocusInitial>Aceptar</button>
</div>

<!-- <h2 mat-dialog-title>Delete file</h2>
<mat-dialog-content>
  Would you like to delete cat.jpeg?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->