<app-navbar></app-navbar>
<p>requerimiento-viaticos-form-edit works!</p>
<button (click)="openModal()">open Modal</button>
<button (click)="crearRequerimiento()">cambiar Ruta</button>
<!-- Modal Form Hospedaje -->
<div class="modal fade " id="modalFormHospedaje" tabindex="-1" aria-labelledby="modalFormHospedajeLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-4 text-secondary" id="modalFormHospedajeLabel">
                Hospedaje
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                modal
        </div>
        <div class="modal-footer">
            <button (click)="guardarModal()" id="modalButton">guardar</button>
        </div>
    </div>
</div>
</div>