.file-preview {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    
  }
  
  .file-preview span {
    /* flex: 1; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .file-preview button {
    margin-left: 10px;
  }

  .input-mat{
    width: 300px;
  }